

@{
    ViewData["Title"] = "All Books";
}

@model IEnumerable<BookModel>



<div class=" container col-md-12 mb-4 mt-4">
    <h1>AllBooks</h1>
    <div class="row mt-3">
        @foreach (var book in Model)
        {
        <div class="col-md-4">
            <partial name="_bookthumbnail"  model="@book"/>
        </div>
        }


    </div>
</div>


