################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreWebGentle/BookStoreWebGentle.sln
/BookStoreWebGentle/BookStoreWebGentle/bin/Debug/netcoreapp3.1
/BookStoreWebGentle/BookStoreWebGentle/obj
