<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CodeMag JWT Demo</title>
</head>

<body>
    <p>You're logged in as:&nbsp;@User.Identity.Name</p>
    <p>@ViewBag.Message</p>
</body>
</html>