
@{
    ViewData["Title"] = "Index";
}

<h1>Wel-Come to Book Store Application</h1>
<body>
    @{ 
        int a = 11 ;
    }
@if (a>10)
{
    a++;
    <h1>Hello from if block...And Value is==@a </h1>
}
            else
            {
    <h3>Hello From else block...</h3>
            }
</body>

